@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url("https://img.freepik.com/foto-gratis/borrosa-resumen-antecedentes-vista-interior-mirando-fuera-vacio-vestibulo-oficina-puertas-entrada-pared-cortina-vidrio-marco_1339-6364.jpg?t=st=1719259366~exp=1719262966~hmac=95a98f5c3703e40e1f71fe5ee222b80ac0efda4043c9c94235c964c8ec43351b&w=900");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);

}
.container{
    background-color: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.55);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.second-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.second-container form .a-1 {
    margin: 20px 0px;
    color: #000;
    text-decoration: none;
}
.second-container form .a-1:hover {
    color: #94A3B8;
}
.second-container form .a-2 {
    margin: 5px 0px;
    color: #000;
    text-decoration: none;
}
.second-container form .a-2:hover {
    color: #94A3B8;
}

.pass {
    padding: 5px 90px;
}